<!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
      }
      body {
      background: url("/images/gd-cover.jpg") no-repeat center;
      background-size: cover;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
        
    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }
        .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: #26a9e0;
        color: #fff;
    }

    .nav-links a {
        color: #fff;
    }

    .logo {
        font-size: 32px;
        padding-left: 10px;
    }

    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
    }

    .menu li:hover {
        background-color: #4c9e9e;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li {
        padding: 5px 14px;
    }

    /* DROPDOWN MENU */
    .services {
        position: relative;
    }

    .dropdown {
        background-color: rgb(1, 139, 139);
        padding: 1em 0;
        position: absolute;
        /*WITH RESPECT TO PARENT*/
        display: none;
        border-radius: 8px;
        top: 35px;
    }

    .dropdown li+li {
        margin-top: 10px;
    }

    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .services:hover .dropdown {
        display: block;
    }

    input[type=checkbox] {
        display: none;
    }

    .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
    }

    @media (max-width: 768px) {
        .menu {
            display: none;
            position: absolute;
            background-color: teal;
            right: 0;
            left: 0;
            text-align: center;
            padding: 16px 0;
        }

        .menu li:hover {
            display: inline-block;
            background-color: #4c9e9e;
            transition: 0.3s ease;
        }

        .menu li+li {
            margin-top: 12px;
        }

        input[type=checkbox]:checked~.menu {
            display: block;
        }

        .hamburger {
            display: block;
        }

        .dropdown {
            left: 50%;
            top: 30px;
            transform: translateX(35%);
        }

        .dropdown li:hover {
            background-color: #4c9e9e;
        }
    }
        .main-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 25px;
        background: rgba(0, 0, 0, 0.5); 
        }
        .left-part, form {
        padding: 25px;
        }
        .left-part {
        text-align: center;
        }
        .fa-graduation-cap {
        font-size: 72px;
        }
        form {
        background: rgba(0, 0, 0, 0.7); 
        }
        .title {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        }
        .info {
        display: flex;
        flex-direction: column;
        }
        input, select {
        padding: 5px;
        margin-bottom: 30px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #eee;
        }
        input::placeholder {
        color: #eee;
        }
        option:focus {
        border: none;
        }
        option {
        background: black; 
        border: none;
        }
        .checkbox input {
        margin: 0 10px 0 0;
        vertical-align: middle;
        }
        .checkbox a {
        color: #26a9e0;
        }
        .checkbox a:hover {
        color: #85d6de;
        }
        .btn-item, button {
        padding: 10px 5px;
        margin-top: 20px;
        border-radius: 5px; 
        border: none;
        background: #26a9e0; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        }
        .btn-item {
        display: inline-block;
        margin: 20px 5px 0;
        }
        button {
        width: 100%;
        }
        button:hover, .btn-item:hover {
        background: #85d6de;
        }
        @media (min-width: 568px) {
        html, body {
        height: 100%;
        }
        .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
        }
        .left-part, form {
        flex: 1;
        height: auto;
        }
        }
    </style>
  </head>
  <body>
    <nav class="navbar">

        <div class="logo">ANIMAL ADOPTION</div>

        <ul class="nav-links">

            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>

            <div class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>


            </div>
        </ul>
    </nav>
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-cat" style="width:20px;"></i>
        <h1>Be the best.</h1>
        <p> Help someone find their best buddy today</p>
        
      </div>
      <form action="/form" method="post" enctype="multipart/form-data">
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Submit your Buddy information</h2>
        </div>
        <div class="info">
          <input class="fname" type="text" name="animal" placeholder="Animal">
          <input type="text" name="breed" placeholder="Breed">
          <input type="text" name="location" placeholder="Location">
          <input type="text" name="description" placeholder="Description">
          <input type="tel" name="phoneNumber" placeholder="Phone No." pattern="[0-9]{10}">
          
        </div>
        
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>